

   
   
  
  /* ===== параметры ВСЕХ  ссылок === */
   	a:link {color:#65DEFF;
	        font-size:16px;
			text-decoration:none;
		
			}
			a:visited {color:#3CD5FF;}
    a:hover {background-color:#000;
        padding: 1px ;
         color:#fff;
		 font-size: 16px;
		border:1px solid #fff;
		padding:3px;
		 }

/* ==== Div stranits  -----------------------=========== ==== */
	
.Vac {width:550px; 
     height:930px;
	  margin-left:10px;
	  margin-top:5px;
	  margin-bottom:50px;
     border: 2px solid #3CD5FF; 
	 border-bottom-left-radius:15%;
	  border-bottom-right-radius:15%;
	  box-shadow: 0 28px 65px rgba(15,215,255,0.3);
	  background: linear-gradient(to top, rgba(40,144,255,0.2), #000);
	
     
}
.grad { 
  background:linear-gradient(to top, #041F35, #000); 
     text-align:center;
	color:#fff;
	font-size:28px;
	font-weight:bold;
	width:70%;
	height:45px;
	border:2px solid #3CD5FF;
	 border-bottom-left-radius:80%;
	  border-bottom-right-radius:80%;
	margin-top:0;
	padding: 10px;
	box-shadow: 10px 18px 55px rgba(15,215,255,0.3);
	}
.soderj a {
	font-size:34px;
	 font-family:"Segoe Print","Comic Sans MS";
	width:100%;
	height:40%;
	line-height:45px;
    }
.soderj {margin-top:25px;}
  



	 
/* ======= КНОПКА ВВЕРХ ========= */	 
		
.btn_up {
	          color:#fff;
              font-size:20px;
             font-weight:bold;
	   position:fixed;      
        bottom:90px;
		right:50px;
		width:70px;
		height:70px;
		border-radius:50%;
		border: 2px solid #3CD5FF;
		background:transparent;
		 box-shadow: 18px 22px 65px rgba(40,144,255,0.6);
		z-index:100;
		outline: 0!important;
		}

.btn_up:hover {color:#000;
             font-size:20px;
             font-weight:bold;
			 	width:65px;
		        height:65px;
		border: 2px solid #3CD5FF;
		background:#64D3FF;
		box-shadow: 0 22px 55px rgba(15,215,255,0.6);
	
}
.btn_back {
	      
           
	   position:fixed;      
        top:90px;
		right:50px;
		width:70px;
		height:70px;
		border-radius:50%;
		border: 2px solid #3CD5FF;
		background:transparent;
		 box-shadow: 18px 22px 65px rgba(40,144,255,0.6);
		z-index:100;
		outline: 0!important;
		}

.btn_back:hover {
			 	width:65px;
		        height:65px;
		border: 2px solid #3CD5FF;
		background:#64D3FF;
		box-shadow: 0 22px 55px rgba(15,215,255,0.6);
	
}
	
	
		 

   
   



 