

	
}
  

   

/* ====== RIGHT MENU ===== */

.feedback2 { 
    
    width: 250px; 
	 background-color:rgb(2,5,33);
  
	
          }
 
   .feedback2:hover {
  
    box-shadow: -10px 25px 55px rgba(15,215,255,0.3);
   } 
   /*.feedback2:hover a {background-color:#000;} 
   /*  при наведнении прозрачный фон изменяется под cылками <a>*/
   
  
  /* ===== параметры ВСЕХ  ссылок === */
   	a:link {color:#65DEFF;
	        font-size:16px;
			text-decoration:none;
		
			}
    a:hover {background-color:#000;
        padding: 1px ;
         color:#fff;
		 font-size: 16px;
		border:1px solid #fff;
		padding:3px;
		 }
 


  
/* ========заголовок категорий меню лев =====*/

.p_menulf {color:#fff;
           font-size:18px;
		   text-decoration:underline;
		  /* font-weight:bold;*/
		   }
	
/*li {color:#000;}	/*убираем маркеры  в меню с категориями*/

.left_ul { position:fixed;
           float:left;
          width:300px;
          height:805px;
	      margin-top:30px;
		  padding-top:15px;
          text-align:center;/*   список левого меню*/
		  overflow:scroll;
		  border:3px solid #3CD5FF;
		  border-bottom-left-radius:20%;
		  border-bottom-right-radius:20%;
		  box-shadow: 0 18px 55px rgba(15,215,255,0.5);
		  }
                    
.right_ul { position:fixed;
           overflow:scroll;
       float:left;
            width:250px;
			height:450px;
           display:inline;
           text-align:left; 
		    margin-left:325px;
			margin-top:30px;
				padding-top:5px;
		   border:2px solid #3CD5FF;
		      border-bottom-left-radius:15%;
		      border-bottom-right-radius:15%;
		   box-shadow: 0 18px 55px rgba(15,215,255,0.5);
		   }
.left_ul a {font-size:26px;
           font-family:"Segoe Print","Comic Sans MS";
            width:300px; 
		
           line-height:40px;			
			  }
.right_ul a {font-size:20px;
         font-family:"Comic Sans MS";
            color:#87FFF1;
            line-height:42px;
}



#hr1G {font-size:24px;
font-family:"Georgia","Comic Sans MS";
       color:#fff;}
#hr1 { text-align:center;
       height:49px;
	   width:300px;
	   margin-top:20px;
	   padding-top:10px;
	   border:2px solid #3CD5FF;
	   border-bottom-left-radius:30%;
	   border-top-right-radius:30%;
	 /* background-color:rgb(2,5,33); */
	  background:linear-gradient(to bottom, #041F35, #000); 
	box-shadow: 0 18px 55px rgba(15,215,255,0.5);}
	/*-------------*/

.hr2 {position:fixed;
        right:10px;
		top:23px;
		margin-bottom:10px;
	padding-top:10px;
	font-size:24px;
	font-family:"Georgia","Comic Sans MS";
       color:#fff;
	   display:inline;
      text-align:center;
       height:49px;
	   width:250px;
	  /* padding:10px;*/
	   border:2px solid #3CD5FF;
	  /*background-color:rgb(2,5,33); */
	   border-bottom-left-radius:30%;
	   border-top-right-radius:30%;
	 background:linear-gradient(to top, #041F35, #000); 
	  box-shadow: 0 18px 55px rgba(15,215,255,0.5);}

/* ============================================================*/

.grm { overflow:scroll;
     position:fixed;
         right:15px;
		 bottom:25px;
        width:230px;
		height:280px;
		padding-top:15px;
		padding-left:20px;
			   border:2px solid #3CD5FF;
			    border-top-left-radius:15%;
	             border-top-right-radius:15%;
				    border-bottom-left-radius:15%;
	             border-bottom-right-radius:15%;
			     box-shadow: 0 18px 55px rgba(15,215,255,0.5);
	
}
.grm a { font-size:24px;
 font-family:"Segoe Print","Comic Sans MS";
         font-weight:bold;
		 color:#87FFF1;
		 line-height:45px;
	
}

	

	 




 